@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: start;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.container{
    display: flex;
    height: 33rem;
    width: 53rem;
    background-color: #136b30;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 8rem;
    flex-direction: column;
}

/* ========= TABULEIRO BOT ========== */
.tabuleiro-bot{
    display: flex;
    border: 2px solid red;
    flex: 40%;
    align-items: center;
    justify-content: center;
}

/* ============ CENTER ============== */
.center{
    display: flex;
    border: 2px solid yellow;
    flex: 20%;
    align-items: center;
    justify-content: center;
    gap: 34rem;
}

.center img{
    cursor: pointer;
}

.placar{
    display: flex;
    flex-direction: row;
}

.placar label{
    font-size: 1.3rem;
    color: white;
    margin-right: 5px ;
}

.placar p {
    color: whitesmoke;
    font-size: 1.3rem;
    margin-right: 8px ;
}

/* ======== TABULEIRO PLAYER ======== */
.tabuleiro-player{
    display: flex;
    border: 2px solid blue;
    flex: 40%;
    align-items: center;
    justify-content: center;
}

.tabuleiro-player img, .tabuleiro-bot img{
    height: 150px;
    width: 150px;
    cursor: pointer;
}