@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    justify-content: start;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

    flex-direction: column;
}

.container{
    display: flex;
    height: 33rem;
    width: 53rem;
    background-color: #136b30;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

/* ========= TABULEIRO BOT ========== */
.tabuleiro-bot{
    display: flex;
    flex: 40%;
    align-items: center;
    justify-content: center;
}

/* ============ CENTER ============== */
.center{
    display: flex;
    flex: 20%;
    align-items: center;
    justify-content: center;
    gap: 7.5rem;
}

.center img{
    cursor: pointer;
}

.placar{
    display: flex;
    flex-direction: row;
}

.placar label{
    font-size: 1.3rem;
    color: white;
    margin-right: 5px ;
}

.placar p {
    color: whitesmoke;
    font-size: 1.3rem;
    margin-right: 8px ;
}

.play-card{
    height: 100%;
    width: 20rem;
}

/* ======== TABULEIRO PLAYER ======== */
.tabuleiro-player{
    display: flex;
    flex: 40%;
    align-items: center;
    justify-content: center;
}

.tabuleiro-player img, .tabuleiro-bot img{
    height: 150px;
    width: 150px;
    cursor: pointer;
}



.play-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menor{
    height: 105px;
    width: 105px;  
}

/* ----PONTOS0---- */

.pontos{
    display: flex;
    margin-top: 2.2rem;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.pontos p{
    font-size: 90px;
}

.empate{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center; 
    margin-bottom: 0.4rem;
}

.empate p, .empate label{
    font-size: 20px;
}


.perdeu{
    color: rgb(0, 0, 0);
    font-size: 35px;
    background-color: rgb(255, 125, 125);
    padding: 0px 5px;
    border-radius: 5px;
}

.ganhou{
    color: rgb(0, 0, 0);
    font-size: 35px;
    background-color: rgb(105, 224, 121);
    padding: 0px 5px;
    border-radius: 5px;
}

.empatou{
    color: rgb(0, 0, 0);
    font-size: 35px;
    background-color: rgb(247, 244, 110);
    padding: 0px 5px;
    border-radius: 5px;
}